.Output{
    background-color: rgba(84, 85, 85, 0.67);
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-outout{
    color: chartreuse;
    font-size: 64;
    align-items: center;
}

.header-bottom{
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
}

.bot-left{
    display: flex;
    flex-direction: column;
}

.bot-image{
    height: 200px;
    width: 200px;
    background-color: rgb(153, 153, 71);
    background-image: url(https://publichealth.gsu.edu/files/2020/09/iStock-1209688759-1280x658.jpg);
    display: flex;
    flex-direction: column;
}

.bot-predict{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}

