.Home-page{
    display: flex;
    color: black;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 2rem;
    background-color: #D8D8BE;
    padding-top: 2rem;
    width: auto;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Left-part{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%;
}

.App-name{
    font-size: 3rem;
    color: rgb(213, 90, 90);
    padding: 2rem 2rem;
}

.Info{
    font-size: 1.04rem;
    color: inherit;
    padding: 0.5rem 2rem;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
}

.Info p{
    font-weight: 500;
    justify-content: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Middle-part{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    padding: 2rem 2rem;
    /* height: 100%; */
    width: 50%;
    height: auto;
}

.mid-image{
    width: 85%;
    height: auto;
    opacity: 0.8;
}

.Right-part{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    height: 100%;
    width: 30%;
}

/* .place-holder img{
    background-color: inherit; 
    width: auto;
    height: auto;
} */

.upload_image{
    width: 50%;
    height: auto;
}

.upload-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32;
}

.form_button{
    background-color: black;
    color: white;
    font-size: 1rem;
}

.upload-button button{
    justify-content: center;
    color: #f9faf8;
    background-color: #20b536;
    margin: 5px 0;
    border: 0.5px;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 2rem;
    width: auto;
    height: auto;
}

.upload-text p{
    font-size: 32;
    color: black;
}